/* Common Styles */
body.light {
  background-color: #f0f0f0;
  color: #333333;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

/* Navbar Styles */
.navbar-light .navbar-brand, .navbar-light .nav-link {
  color: #333333;
}

.navbar-dark .navbar-brand, .navbar-dark .nav-link {
  color: #e0e0e0;
}

.navbar-light {
  background-color: #ffffff;
}

.navbar-dark {
  background-color: #333333;
}

/* Ensure text is visible in dark mode */
body.dark .project-card .chakra-heading,
body.dark .project-card .chakra-text {
  color: white !important;
}

/* ProjectCard Styles */
body.light .project-card {
  background-color: #ffffff;
  border-color: #e0e0e0;
  color: #333333;
}

body .project-card {
  background-color: #1e1e1e;
  border-color: #444444;
  color: #e0e0e0;
}

.project-card {
  max-width: 300px;
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

.project-card img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.project-card .card-body {
  padding: 1rem;
}


